.size-1 {
  width: 2rem;
  height: 2rem;
}
.size-1:hover {
  width: 3rem;
  height: 3rem;
  transition: 5ms ease-out;
}
.size-2 {
  width: 3rem;
  height: 3rem;
}
.size-2:hover {
  width: 4rem;
  height: 4rem;
  transition: 5ms ease-out;
}
.size-3 {
  width: 4rem;
  height: 4rem;
}

.size-3:hover {
  width: 5rem;
  height: 5rem;
  transition: 5ms ease-out;
}

.size-4 {
  width: 5rem;
  height: 5rem;
}

.size-4:hover{
  width: 6rem;
  height: 6rem;
  transition: 5ms ease-out;
}
  
.color-black {
  fill: var(--black);
}

.color-blue {
  fill: var(--primary-color);
}

.color-secondary {
  fill: var(--secondary-color);
}

.color-red {
  fill: var(--danger-color);
}

.color-green {
  fill: var(--success-color);
}

.color-yellow {
  fill: var(--warning-color);
}

.color-grey {
  fill: var(--grey-dark-color-2);
}

.color-grey-2 {
  fill: var(--grey-light-color-6);
}

.color-white {
  fill: var(--white);
}
  