button {
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--white);
    box-shadow: 3px 2px 3px 0px var(--shadow-color-4);
    cursor: pointer;
  }
  
  .primary {
    background-color: var(--primary-color);
  }
  
  .primary:hover {
    background-color: var(--secondary-color);
  }
  
  .primary-color-light {
    background-color: var(--primary-color-light);
  }
  
  .secondary {
    background-color: var(--secondary-color);
  }
  
  .secondary:hover {
    background-color: var(--primary-color);
  }

  .tertiary{
    background-color: var(--white);
    color: var(--primary-color);
  }
  
  .tertiary:hover {
    background-color: var(--grey-light-color-1);
    color: var(--secondary-color);
  }

  .sucess {
    background-color: var(--success-color);
  }
  
  .sucess:hover {
    background-color: var(--success-color-2);
  }
  
  .warning {
    background-color: var(--danger-color);
  }
  
  .warning:hover {
    background-color: var(--danger-color-2);
  }
  
  .grey {
    background-color: var(--grey-light-color-2);
  }
  
  .grey:hover {
    background-color: var(--grey-light-color-4);
  }
  
  .btn-disabled {
    cursor: default;
    color: var(--grey-light-color-2);
    background-color: var(--grey-light-color-4);
  }
  