<section id="banner">
    <div class="container">
        <div class="container_imgWrapper">
            <img [src]="data.image" class="container_img">
        </div>
        <div class="container_wrapper">
            <img src="../../../assets/images/logo.webp" class="container_logo">
            <div class="container_ctawrapper">
                <p>{{data.heading}}</p>
                <p>{{data.cta}}</p>
                <div class="container_btn">
                    <app-btn color="tertiary" (btnClick)="contactForm()">
                        <span btn-content>
                            QUERO ALUGAR!
                        </span>
                    </app-btn>
                </div>
            </div>
        </div>
    </div>
</section>